.App {
  margin: 100px auto 0;
  padding: 10px;
  text-align: center;
  color: cornflowerblue;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid aquamarine;
  box-shadow: -1px 0px 23px -8px rgba(0, 0, 0, 0.49);
}

.form {
  /* background-color: burlywood; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input {
  padding: 20px;
  margin: 10px 0;
  border: none;
  background-color: aliceblue;
  border-radius: 5px;
  outline: none;
}

.input:focus {
  border: 1px solid navy;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: aquamarine;
  outline: none;
}

button:hover {
  transform: scale(1.02); 
}

.label-input-text {
  text-align: left;
  font-weight: bold;
}
